.cards {
  $h-padding: 20px;
  $height: 64px;
  $width: 44px;
  perspective: 3000px;

  .card {
    $card-height: $height;
    background-position: 75% 55%;
    background-repeat: no-repeat;
    background-size: $width $height;
    margin-bottom: $h-padding / 2;
    cursor: pointer;
    flex: 1;
    height: $card-height;
    image-rendering: pixelated;
    overflow: hidden;
    position: relative;
    transform: rotateY(0deg);
    transition: .5s #{$animation-steps} background-position;

    @media #{$mid} {
      background-size: ($width * $mid-scale) ($height * $mid-scale);
      height: $card-height * $mid-scale;
    }

    @media #{$tablet} {
      background-size: ($width * $tablet-scale) ($height * $tablet-scale);
      height: $card-height * $tablet-scale;
      margin-bottom: $h-padding;
    }

    @media #{$desktop} {
      background-size: ($width * $desktop-scale) ($height * $desktop-scale);
      height: $card-height * $desktop-scale;
    }

    &.face-down {
      transition: .5s 1s #{$animation-steps} background-position;
      .card-back {
        transform: translateX(-50%) rotateY(0deg);
        transition: .5s 1s #{$animation-steps} transform, #{$animation-timing} background-size, #{$animation-timing} height;
      }

      .card-front {
        transform: translateX(-50%) rotateY(180deg);
        transition: .5s 1s #{$animation-steps} transform, #{$animation-timing} background-size, #{$animation-timing} height;
      }
    }

    &.face-up {
      background-position: 25% 50%;

      .card-back {
        transform: translateX(-50%) rotateY(180deg);
      }

      .card-front {
        transform: translateX(-50%) rotateY(0deg);
      }
    }

    &.matched {
      animation: disapear-small 1s #{$animation-steps} both;
      background-position: 25% 50%;
      pointer-events: none;
      z-index: 1000;

      @media #{$desktop} {
        animation: disapear 1s #{$animation-steps} both;
      }
    }

    .card-side {
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: $height;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: .5s #{$animation-steps} transform, #{$animation-timing} background-size, .5s #{$animation-steps} background-position, #{$animation-timing} height, #{$animation-timing} width;
      width: $width;

      p {
        display: none;
      }

      @media #{$mid} {
        height: $height * $mid-scale;
        width: $width * $mid-scale;
      }

      @media #{$tablet} {
        height: $height * $tablet-scale;
        width: $width * $tablet-scale;
      }

      @media #{$desktop} {
        height: $height * $desktop-scale;
        width: $width * $desktop-scale;
      }
    }

    .card-face {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      left: 50%;
      margin: auto auto;
      position: absolute;
      top: 0;
      width: 80%;
      transform: translateX(-50%);
    }

    .card-front {
      background-size: contain;
      image-rendering: pixelated;
    }

    &.cheater {
      .card-back {
        opacity: .3;
      }

      .card-front {
        transform: rotateY(0deg) translateX(-50%);
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
      }
    }

    .card-back {
      background-size: cover;
      image-rendering: pixelated;
      text-indent: -9999px;
    }
  }
}

@keyframes disapear-small {
  from {
    transform: rotateZ(0deg) rotateY(0deg) scale(1);
    opacity: 1;
  }
  to {
    transform: rotateZ(270deg) rotateY(0deg) scale(.2);
    opacity: 0;
  }
}

@keyframes disapear {
  from {
    transform: rotateZ(0deg) rotateY(0deg) scale(1);
    opacity: 1;
  }
  to {
    transform: rotateZ(270deg) rotateY(0deg) scale(10);
    opacity: 0;
  }
}