.cards {
  $h-padding: 10px;
  $height: 64px;
  $width: 44px;

  .card {
    $card-height: $height + $h-padding;
    animation-delay: -.3s;
    background-position: 75% 55%;
    background-repeat: no-repeat;
    background-size: $width $height;
    flex: 1;
    height: $card-height;
    image-rendering: pixelated;
    overflow: hidden;
    position: relative;
    transition: #{$animation-timing} transform, #{$animation-timing} background-size, #{$animation-timing} background-position, #{$animation-timing} height;

    &.face-down {
      animation: unflip 1s steps(7, end) both;
    }

    &.face-up {
      animation: flip 1s steps(7, end) both;
      background-position: 25% 50%;
    }

    @media #{$mid} {
      background-size: ($width * $mid-scale) ($height * $mid-scale);
      height: $card-height * $mid-scale;
    }

    @media #{$tablet} {
      background-size: ($width * $tablet-scale) ($height * $tablet-scale);
      height: $card-height * $tablet-scale;
    }

    @media #{$desktop} {
      background-size: ($width * $desktop-scale) ($height * $desktop-scale);
      height: $card-height * $desktop-scale;
    }

    .card-side {
      background-position: center center;
      background-repeat: no-repeat;
      height: $height;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: #{$animation-timing} height, #{$animation-timing} width;
      width: $width;

      p {
        display: none;
      }

      @media #{$mid} {
        height: $height * $mid-scale;
        width: $width * $mid-scale;
      }

      @media #{$tablet} {
        height: $height * $tablet-scale;
        width: $width * $tablet-scale;
      }

      @media #{$desktop} {
        height: $height * $desktop-scale;
        width: $width * $desktop-scale;
      }
    }

    .card-face {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      left: 50%;
      margin: auto auto;
      position: absolute;
      top: 0;
      transform: translateX(-50%) rotateY(180deg);
      width: 80%;
    }

    .card-front {
      backface-visibility: hidden;
      background-size: contain;
      image-rendering: pixelated;
    }

    .card-back {
      background-size: cover;
      image-rendering: pixelated;
      text-indent: -9999px;
    }
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes unflip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
