.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    align-self: center;
    animation: 3s winner infinite linear;
    font-size: 48px;
  }

  button {
    align-self: center;
    background-color: $purple;
    border: 5px solid $white;
    color: $white;
    font-family: Courier, san-serif;
    font-size: 200%;

    @media #{$desktop} {
      &:hover {
        background-color: lighten($purple, .5);
      };
    }
  }
}

@keyframes winner {
  0% {
    transform: rotateZ(2deg) rotateY(4deg) scale(1.5);
  }

  25% {
    transform: rotateZ(-2deg) rotateY(-4deg) scale(1.6);
  }

  50% {
    transform: rotateZ(-4deg) rotateY(2deg) scale(1.5);
  }

  75% {
    transform: rotateZ(4deg) rotateY(-2deg) scale(1.4);
  }

  100% {
    transform: rotateZ(1.9deg) rotateY(3.9deg) scale(1.49);
  }
}